@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body {
	overflow: hidden;
}
.invalid {
	border-radius: 35px !important;
	border: 2.5px solid rgba(224, 83, 83, 0.5) !important;
	color: rgba(255, 0, 0, 0.3) !important;
}
.errormsg {
	margin-top: 2px;
	color: rgb(173, 63, 63);
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom, #8b9db8, #dff1ff);
}
section .color {
	position: absolute;
	filter: blur(150px);
}
section .color:nth-child(1) {
	top: -350px;
	width: 600px;
	height: 600px;
	background: #ff359b;
}
section .color:nth-child(2) {
	bottom: -150px;
	left: 100px;
	width: 500px;
	height: 500px;
	background: #fffd87;
}
section .color:nth-child(3) {
	bottom: 50px;
	right: 100px;
	width: 500px;
	height: 500px;
	background: #00d2ff;
}
.box {
	position: relative;
}
.box .square {
	position: absolute;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	animation: animate 10s linear infinite;
}
@keyframes animate {
	0%,
	100% {
		transform: translateY(-40px);
	}
	50% {
		transform: translateY(40px);
	}
}
.box .square:nth-child(1) {
	top: -50px;
	right: -60px;
	width: 100px;
	height: 100px;
}
.box .square:nth-child(2) {
	top: 150px;
	left: -100px;
	width: 120px;
	height: 120px;
	z-index: 2;
}
.box .square:nth-child(3) {
	bottom: 50px;
	right: -60px;
	width: 80px;
	height: 80px;
	z-index: 2;
}
.box .square:nth-child(4) {
	bottom: -80px;
	left: 100px;
	width: 50px;
	height: 50px;
}
.box .square:nth-child(5) {
	top: -80px;
	left: 140px;
	width: 60px;
	height: 60px;
}
.container {
	position: relative;
	width: 1800px;
	min-height: 800px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 2rem 4rem;
	margin-left: 120px;
	margin-right: 120px;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container_Nav {
	width: 550px;
	min-height: 800px;
	position: relative;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;

	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
.icons {
	font-size: 2rem;
	color: #505050;
}
.icons_feed {
	font-size: 2rem;
	color: #f9f9f9;
}
.container_profile {
	display: flex;
	align-items: center;
}
.container_profile_text {
	color: rgb(52, 52, 52);
}
.container_profile_text span {
	font-weight: bold;
}
.container_profile_text p {
	font-weight: 10px;
}
.container_profile_settings {
	padding-left: 10px;
	margin-left: 10px;
}
